.card {
  padding: 1rem;
  border: 1px solid rgba(47, 51, 54);

  a {
    font-weight: bold;
  }
}

.term {
  font-size: x-large;
  margin-right: 1rem;
  text-decoration: none;
}

.h2 {
  font-size: medium;
}

.Nav_link {
  text-decoration: none;
}
