.nav {
  font-size: 0.8em;
  color: var(--color);
  padding: 1.1rem;

  box-shadow: 1px 1px 5px 1px var(--shadow-color);
  transition: box-shadow var(--transition-s) linear,
    color var(--transition-s) linear;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: var(--header-width);
}

.headlessBloggin {
  margin-right: 2rem;
  margin-left: 2rem;
}

.toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
  .container {
    justify-content: space-between;
  }
}

.posts {
  padding: 0.5rem 1rem;
  text-align: right;
  flex: 1;
}

.logo {
  flex: 2;
  text-align: left;
}

.emojilink {
  // margin-right: 4rem;
  // margin-left: 2em;
  padding-bottom: 0.1rem 0rem;
  text-decoration: none;
  text-align: left;
}

.Nav_link {
  text-decoration: none;
}
