:root {
  --color: rgb(41, 243, 0);
  --shadow-color: rgba(255, 255, 255, 0.747);
  --bg-color: black;
  --container-width: 680px;
  --transition-s: 0.25s;
  --border-color: rgb(47, 51, 54);
}

[data-theme="light"] {
  --shadow-color: rgba(0, 0, 0, 0.3);
  --color: rgb(0, 0, 0);
  --bg-color: rgb(238, 232, 232);
  --border-color: invert(rgb(47, 51, 54));
}

body {
  background-color: var(--bg-color);
}

.loader {
  color: rgb(41, 243, 0);
  --color: black;
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
}

a {
  color: var(--color);
}
